@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

<div class="jumbotron">
    <p class="lead">Реєстр міністерства - програма для ведення обліку ресурсів міністерства освіти</p>
   
</div>

<div class="row">
    
</div>